body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  color: #222222;
}

.gh-icon {
  position: absolute;
  width: 50px;
  height:50px;
  right: 30px;
  top: 30px;
  font-size: 4em;
  text-decoration: none;
  color: black;
}

.preview-controller-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.loaders, .controls {
  margin: 10px;
}

.loaders {
  width: 600px;
  height: 600px;
  background-color: white;
  border: solid 2px #cecece;
  clear: both;
  display: inline-block;
  margin-left: 30px;
}

.loader-heading {
  width: 100%;
  height: 100px;
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.loader-heading h2 {
  margin: 0;
}

.loader-heading a {
  text-decoration: none;
  color: #0000ff;
}

.loader-snippet pre {
  min-height: 20px;
  width: 550px;
  padding: 10px;
  text-align: left;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin: 0 auto;
  font-size: .9em;
}
.loader-snippet div {
  margin-top: 20px;
}
/* 
=================
 LOADER CONTROLS
=================
 */
.controls {
  float: left;
  padding: 10px;
  width: 500px;
}

 /* loader dropdown */
.loader-select-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.loader-select-label {
  display: block;
  margin-bottom: 10px;
}
.loader-select-box {
  max-width: 200px;
}
.loader-select-arrows {
  margin-top: 10px;
}
.loader-select-arrows div:nth-child(2) {
  margin-left: 10px;
}

 /*loader duration slider*/
.loader-duration {
  padding-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #cecece;
}

/* size radio buttons */
.loader-size {
  width: 100%;
  height: 50px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}

/* idFixed control */
.loader-fixed {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #cecece;
  margin-bottom: 10px;
}

.fixed-radios {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.btn-preview {
  width: 125px;
  height: 25px;
  background-color: #14B917;
  border: none;
  color: #fff;
}

/* color pickers */
.color-pickers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.color-picker {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid #cecece;
  box-shadow: 4px 9px 5px rgba(0, 0, 0, 0.22);
}
.color-picker h3 {
  margin: 5px;
}

/* Slider */
.duration-label {
  display: block;
}
#duration-slider {
  width: 400px;
}
