#amc-dots-box {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#amc-dot-l,
#amc-dot-c,
#amc-dot-r {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #222;
  transform: scale(0)
}

#amc-dot-l {
  margin-right: 30px;
  animation: amc-dot-l-pulse 1.5s ease-in-out infinite;
}

#amc-dot-c {
  animation: amc-dot-c-pulse 1.5s ease-in-out infinite;
  animation-delay: .15s;
}

#amc-dot-r {
  margin-left: 30px;
  animation: amc-dot-r-pulse 1.5s ease-in-out infinite;
  animation-delay: .30s;
}

@keyframes amc-dot-l-pulse {
  0% { transform: scale(0) }
  30% { transform: scale(1) }
  60%, 100% { transform: scale(0) }
}

@keyframes amc-dot-c-pulse {
  0% { transform: scale(0) }
  30% { transform: scale(1) }
  60%, 100% { transform: scale(0) }
}

@keyframes amc-dot-r-pulse {
  0% { transform: scale(0) }
  30% { transform: scale(1) }
  60%, 100% { transform: scale(0) }
}