#pulse-box {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pulse {
  position: relative;
  width: 12.5px;
  height: 50px;
  animation: pulse 750ms infinite;
  animation-delay: 250ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pulse:before,
#pulse:after {
  content: '';
  position: absolute;
  display: block;
  width: 12.5px;   /* (pulse height / 4) */
  height: 33.3px;  /* (pulse height / 1.5) */
  background: #efefef;
  animation: pulse 750ms infinite;
}

#pulse:before {
  left: -25px; /*  -(pulse height / 1.5) */
}

#pulse:after {
  left: 25px; /* (pulse height / 1.5) */
  animation-delay: 500ms;
}

@keyframes pulse {
  0%, 10% { background: #efefef; }	
  50% { background: #5b5b5b; } 
}